.popup__input {
    width: 358px;
    padding: 8px 0 13px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    content: '';
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    display: block;
    outline-color: green;
}

@media screen and (max-width: 540px) {
    .popup__input {
        width: 232px;
    }

    .popup__input:nth-child(2) {
        margin-bottom: 45px;
    }
}