.profile {
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1024px) {
    .profile {
        margin-left: 50px;
        margin-right: 50px;
    }
}